<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="footer">

    <!--<div class="container">

        <footer>
            &lt;!&ndash; this is footer &ndash;&gt;
            © 2017 mkyong.com
            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>

            <script type="text/javascript"
                    src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        </footer>
    </div>-->
    <div id="contacts" class="container-fluid">
        <div class="row centered">
            <div class="col-lg-6 col-lg-offset-3">
                <a href="#">Returns</a>
                <a href="#">FAQ</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Account</a>
                <a href="#">Sign Up</a>
            </div>
            <div class="col-lg-2">
                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="#"><i class="fa fa-telegram fa-lg"></i></a>
                <a href="#"><i class="fa fa-vk fa-lg"></i></a>
            </div>
        </div>
    </div>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:href="@{/js/jquery-1.12.4.js}" src="../../js/jquery-1.12.4.js"></script>
    <script th:href="@{/js/jquery-ui.js}" src="../../js/jquery-ui.js"></script>
    <script th:href="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
    <script th:href="@{/js/js.js}" src="../../js/js.js"></script>
    <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</div>
</body>
</html>