<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <!--<link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>-->

        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css"/>

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../css/bootstrap.css">
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../../css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/projectCss.css}" href="../../css/projectCss.css">
        <link rel="stylesheet" th:href="@{/css/jquery-ui.css}" href="../../css/jquery-ui.css">
        <!--<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />-->
        <style>
            .menu-sub:hover > ul {
                display: inline-block;
            }

            .sub-menu {
                position: absolute;
                display: none;
                background: #ccc;
                width: 140px !important;
            }
        </style>
    </div>
</head>
<body>
<div th:fragment="header">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <!-- this is header -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">C<i class="fa fa-circle"></i><i class="fa fa-circle"></i>KING</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a th:href="@{/}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-history" aria-hidden="true"></i></a></li>

                    <li class="menu-sub"><a href="/complex_registration" th:href="@{/complex_registration}">
                        <i class="fa fa-user-circle" aria-hidden="true"></i></a>
                        <ul class="sub-menu">
                                        
                            <li><a href="/secure/profile">Profile</a></li>
                                     
                        </ul>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/secure/logout" th:href="@{/secure/logout}" onclick="$('#form').submit();">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"> </span> Выйти </a>
                        <form style="visibility: hidden" id="form" method="post" action="#"
                              th:action="@{/secure/logout}"></form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>