<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/projectCss.css}" href="../../css/projectCss.css">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">C<i class="fa fa-circle"></i><i class="fa fa-circle"></i>KING</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-history" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <!--<div class="col-md-2"></div>-->
            <div class="col-lg-8 col-lg-offset-2">

                <div class="reciepes">


                    <h4 th:text="${recipe.name}"></h4>
                    <div id="picturedishes">
                        <img class="picturedishes" src="image/eda.jpg" alt="...">

                    </div>
                    <div class="time" th:inline="text">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> Cooking time : [[${recipe.cookingTime}]]
                    </div>
                    <div class="ingredientsAbdCalories">
                        <div class="ingredients">
                            <h4>Ingredients</h4>
                            <ul>
                                <th:block th:each="ingredient : ${recipe.ingredients}" th:inline="text">
                                    <li>[[${ingredient.name}]] - [[${ingredient.amount}]] шт.</li>
                                </th:block>
                            </ul>
                        </div>
                        <div id="calories">
                            <h4>Nutrition</h4>
                            <th:block th:each="nutrition : ${recipe.nutrition}">
                                <h3>Fats: <span th:text="${nutrition.fats}"></span></h3>
                                <h3>Proteins: <span th:text="${nutrition.proteins}"></span></h3>
                                <h3>Carbohydrates: <span th:text="${nutrition.carbohydrates}"></span></h3>
                            </th:block>
                            <h3>Calories: <span th:text="${recipe.calories}"></span></h3>
                        </div>
                    </div>
                    <div id="cooking">
                        <th:block th:each="step : ${recipe.steps}">
                            <div class="stage" th:inline="text">
                                <h3>Шаг [[${step.number}]]</h3>
                                [[${step.description}]]
                            </div>
                        </th:block>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div id="contacts" class="container-fluid">
    <div class="row centered">
        <div class="col-lg-6 col-lg-offset-3">
            <a href="#">Returns</a>
            <a href="#">FAQ</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Account</a>
            <a href="#">Sign Up</a>
        </div>
        <div class="col-lg-2">
            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
            <a href="#"><i class="fa fa-telegram fa-lg"></i></a>
            <a href="#"><i class="fa fa-vk fa-lg"></i></a>
        </div>
    </div>
</div>

<script th:href="@{/js/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<script th:href="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
<script th:href="@{/js/js.js}" src="../../js/js.js"></script>
</body>
</html>