<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/projectCss.css}" href="../../css/projectCss.css">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">C<i class="fa fa-circle"></i><i class="fa fa-circle"></i>KING</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-history" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <!--<div class="col-md-2"></div>-->
            <div class="col-lg-8 col-lg-offset-2">

                <div class="shoppingList">

                    <div class="ingredientsForShoppingList">
                        <h4>Ингридиенты на неделю </h4>
                    </div>

                    <div class="productList">
                        <ol>
                            <li>Lorem ipsum dolor si</li>
                            <li>Lorem ipsum dolor si</li>
                            <li>Lorem ipsum dolor si</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>Lorem ipsum dolor si</li>
                            <li>Lorem ipsum dolor si</li>
                            <li>Lorem ipsum dolor si</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li><li>Lorem ipsum dolor si</li>
                            <li>Lorem ipsum dolor si</li>
                            <li>Lorem ipsum dolor si</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li><li>Lorem ipsum dolor si</li>
                            <li>Lorem ipsum dolor si</li>
                            <li>Lorem ipsum dolor si</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li><li>Lorem ipsum dolor si</li>
                            <li>Lorem ipsum dolor si</li>
                            <li>Lorem ipsum dolor si</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li><li>Lorem ipsum dolor si</li>
                            <li>Lorem ipsum dolor si</li>
                            <li>Lorem ipsum dolor si</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li>
                            <li>onsectetur adipisicing elit</li>
                        </ol>
                    </div>
                    <button type="button" class="btn btn-primary btn-md" href="/menu">Назад к меню</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contacts" class="container-fluid">
    <div class="row centered">
        <div class="col-lg-6 col-lg-offset-3">
            <a href="#">Returns</a>
            <a href="#">FAQ</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Account</a>
            <a href="#">Sign Up</a>
        </div>
        <div class="col-lg-2">
            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
            <a href="#"><i class="fa fa-telegram fa-lg"></i></a>
            <a href="#"><i class="fa fa-vk fa-lg"></i></a>
        </div>
    </div>
</div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->

<script th:href="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
<script th:href="@{/js/js.js}" src="../../js/js.js"></script>
</body>
</html>