<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>


<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <!--<div class="col-md-2"></div>-->
            <div class="col-lg-8 col-lg-offset-2">

                <div class="shoppingList">

                    <div class="ingredientsForShoppingList">
                        <h4>Ингридиенты на неделю </h4>
                    </div>

                    <div class="productList">
                        <ol>
                            <th:block th:each="ingredient : ${ingredients}">
                                <li><span th:text="${ingredient.key}"></span> - <span th:text="${ingredient.value.amount}"></span> (<span th:text="${ingredient.value.units}"></span>)</li>
                            </th:block>
                        </ol>
                    </div>
                    <button type="button" class="btn btn-primary btn-md"><a href="/menu">Назад к меню</a></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>