<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title th:text="#{label.pages.home.title}">home</title>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h1 class="alert alert-success" th:text="#{message.regSucc}">success</h1>
    <a th:href="@{/login}" th:text="#{label.login}">login</a>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>