<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="starter-template">
        <h1>Test page</h1>
        <div>
            <th:block th:each="object : ${objects}">
                <div th:text="${object.name}">

                </div>
                <div th:text="${object.cuisine}">

                </div>
                <div th:text="${object.cost}">

                </div>
                <th:block th:each="step : ${object.steps}">
                    <div th:text="${step.number}">
                    </div>
                    <div th:text="${step.description}">

                    </div>
                </th:block>
            </th:block>

        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>